<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linrun.infrastructure.dao.ITradeOrderDao">

    <resultMap id="TradeOrderMap" type="com.linrun.domain.trade.model.TradeOrder">
        <id column="order_id" property="orderId"/>
        <result column="user_id" property="userId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="goods_name" property="goodsName"/>
        <result column="activity_id" property="activityId"/>
        <result column="buy_type" property="buyType"/>
        <result column="origin_amount" property="originAmount"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="order_status" property="orderStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="pay_time" property="payTime"/>
        <result column="close_time" property="closeTime"/>
    </resultMap>

    <resultMap id="PayOrderMap" type="com.linrun.domain.trade.model.PayOrder">
        <id column="pay_order_id" property="payOrderId"/>
        <result column="order_id" property="orderId"/>
        <result column="pay_channel" property="payChannel"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="pay_status" property="payStatus"/>
        <result column="pay_url" property="payUrl"/>
        <result column="out_trade_no" property="outTradeNo"/>
        <result column="create_time" property="createTime"/>
        <result column="pay_time" property="payTime"/>
    </resultMap>

    <resultMap id="RefundOrderMap" type="com.linrun.domain.trade.model.RefundOrder">
        <id column="refund_id" property="refundId"/>
        <result column="order_id" property="orderId"/>
        <result column="pay_order_id" property="payOrderId"/>
        <result column="user_id" property="userId"/>
        <result column="refund_amount" property="refundAmount"/>
        <result column="refund_status" property="refundStatus"/>
        <result column="refund_reason" property="refundReason"/>
        <result column="create_time" property="createTime"/>
        <result column="refund_time" property="refundTime"/>
    </resultMap>

    <insert id="insertTradeOrder" parameterType="com.linrun.domain.trade.model.TradeOrder">
        insert into trade_order (
          order_id,
          user_id,
          goods_id,
          goods_name,
          activity_id,
          buy_type,
          origin_amount,
          pay_amount,
          order_status,
          create_time,
          pay_time,
          close_time
        ) values (
          #{orderId},
          #{userId},
          #{goodsId},
          #{goodsName},
          #{activityId},
          #{buyType},
          #{originAmount},
          #{payAmount},
          #{orderStatus},
          #{createTime},
          #{payTime},
          #{closeTime}
        )
    </insert>

    <insert id="insertPayOrder" parameterType="com.linrun.domain.trade.model.PayOrder">
        insert into pay_order (
          pay_order_id,
          order_id,
          pay_channel,
          pay_amount,
          pay_status,
          pay_url,
          out_trade_no,
          create_time,
          pay_time
        ) values (
          #{payOrderId},
          #{orderId},
          #{payChannel},
          #{payAmount},
          #{payStatus},
          #{payUrl},
          #{outTradeNo},
          #{createTime},
          #{payTime}
        )
    </insert>

    <update id="updateTradeOrderPaySuccess" parameterType="com.linrun.domain.trade.model.TradeOrder">
        update trade_order
        set order_status = #{orderStatus},
            pay_time = #{payTime}
        where order_id = #{orderId}
    </update>

    <update id="updatePayOrderSuccess" parameterType="com.linrun.domain.trade.model.PayOrder">
        update pay_order
        set pay_status = #{payStatus},
            out_trade_no = #{outTradeNo},
            pay_time = #{payTime}
        where order_id = #{orderId}
    </update>

    <update id="updateGroupSettledByOrderIds">
        update trade_order
        set order_status = 'GROUP_SETTLED'
        where order_status = 'PAY_SUCCESS'
          and order_id in
          <foreach collection="orderIds" item="orderId" open="(" separator="," close=")">
              #{orderId}
          </foreach>
    </update>

    <update id="updateTradeOrderClosed" parameterType="com.linrun.domain.trade.model.TradeOrder">
        update trade_order
        set order_status = #{orderStatus},
            close_time = #{closeTime}
        where order_id = #{orderId}
    </update>

    <update id="updatePayOrderClosed" parameterType="com.linrun.domain.trade.model.PayOrder">
        update pay_order
        set pay_status = #{payStatus}
        where order_id = #{orderId}
    </update>

    <insert id="insertRefundOrder" parameterType="com.linrun.domain.trade.model.RefundOrder">
        insert into refund_order (
          refund_id,
          order_id,
          pay_order_id,
          user_id,
          refund_amount,
          refund_status,
          refund_reason,
          create_time,
          refund_time
        ) values (
          #{refundId},
          #{orderId},
          #{payOrderId},
          #{userId},
          #{refundAmount},
          #{refundStatus},
          #{refundReason},
          #{createTime},
          #{refundTime}
        )
    </insert>

    <update id="updateTradeOrderRefunded" parameterType="com.linrun.domain.trade.model.TradeOrder">
        update trade_order
        set order_status = #{orderStatus}
        where order_id = #{orderId}
    </update>

    <update id="updatePayOrderRefunded" parameterType="com.linrun.domain.trade.model.PayOrder">
        update pay_order
        set pay_status = #{payStatus}
        where order_id = #{orderId}
    </update>

    <select id="queryTradeOrderByOrderId" resultMap="TradeOrderMap">
        select order_id,
               user_id,
               goods_id,
               goods_name,
               activity_id,
               buy_type,
               origin_amount,
               pay_amount,
               order_status,
               create_time,
               pay_time,
               close_time
        from trade_order
        where order_id = #{orderId}
        limit 1
    </select>

    <select id="queryPayOrderByOrderId" resultMap="PayOrderMap">
        select pay_order_id,
               order_id,
               pay_channel,
               pay_amount,
               pay_status,
               pay_url,
               out_trade_no,
               create_time,
               pay_time
        from pay_order
        where order_id = #{orderId}
        limit 1
    </select>

    <select id="queryRefundOrderByOrderId" resultMap="RefundOrderMap">
        select refund_id,
               order_id,
               pay_order_id,
               user_id,
               refund_amount,
               refund_status,
               refund_reason,
               create_time,
               refund_time
        from refund_order
        where order_id = #{orderId}
        limit 1
    </select>
</mapper>
